.imagefile-root {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 50% 50%;
  grid-template-areas:
    "header header"
    "left right";

  >div {
    flex: 1;
    overflow: auto;

    &.header {
      grid-area: header;
    }

    &.left-container {
      grid-area: left;
      padding: 0 10px 0 24px;

      .left-toolbar {
        padding: 0 0 10px 0;
      }
    }
  }

}
