.fs-wrapper {
  border: solid 1px #dedede;
  border-radius: var(--ant-border-radius);
  flex-direction: column;
  display: flex;
  resize: vertical;
  overflow: hidden;
  min-height: 10em;
  background: #fafafa;

  >button {
    min-width: 24px;
    min-height: 24px;
    margin: 2px;
    align-self: end;
  }

  &:hover {
    border: solid 1px #40a9ff;
  }

  &:hover:active,
  &:focus {
    box-shadow: 0 0 0 3px rgb(24 144 255 / 20%);
  }

  &.fullscreen {
    resize: none;
    z-index: 999;
    position: fixed;
  }
}
