.app {
  height: 100dvh;
  max-height: 100dvh;
  width: 100dvw;
  max-width: 100dvw;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  .suspense-spin {
    margin: auto;

    .suspense-spin-icon {
      font-size: 48px;
    }
  }
}

.result-spin {
  position: fixed;
  inset: 0px;
  width: 16rem;
  height: 15rem;
  max-width: 100vw;
  max-height: 90dvh;
  margin: auto;
}
