.w-md-editor {
    display: flex;
    resize: vertical;
    overflow: auto;
    flex-direction: column;

    .w-md-editor-content {
        flex: 1;
    }

    .w-md-editor-toolbar-divider:last-of-type,
    .w-md-editor-bar {
        display: none;
    }
}
